<nav class="nav-tab">
  <ul class="nav-tab__container">
    <li>
      <input type="radio" id="tab1" name="tab" value="OPTICAL" checked="true" />
      <label for="tab1">OPTICAL</label>
    </li>
    <li>
      <input type="radio" id="tab2" name="tab" value="SUNGLASSES" />
      <label for="tab2">SUNGLASSES</label>
    </li>
    <li>
      <input type="radio" id="tab3" name="tab" value="FUNCTIONAL" />
      <label for="tab3">FUNCTIONAL</label>
    </li>
  </ul>
</nav>
