<nav class="nav">
  <div class="nav__container">
    <a href="index.html" class="nav__logo"></a>
    <ul class="nav__links">
      <a href="product.html"> <li>系列鏡框</li> </a>
      <a href="store.html"> <li>門市據點</li> </a>
      <a href="#"> <li>部落格</li> </a>
      <a href="#"><li>常見問題</li></a>
    </ul>
  </div>
</nav>
