<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>看得清才能看得遠</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%> <%- include('./layout/nav-tab'); -%>
    <div class="optical">
      <header class="product-header">
        <img
          srcset="../assets/images/product-header-sm-1.png 374w, ../assets/images/product-header-1.png 1920w"
          sizes="(min-width:768px) 1920px , 374px"
          alt="optical-glasses1"
        />
        <img
          srcset="../assets/images/product-header-sm-2.png 374w, ../assets/images/product-header-2.png 1920w"
          sizes="(min-width:768px) 1920px , 374px"
          alt="optical-glasses2"
        />
      </header>
      <section class="product-main">
        <div class="product-main__container">
          <h2>Celluloid Combi</h2>
          <h3>賽璐珞鈦金屬混合鏡框</h3>
          <div class="product-list">
            <div class="card">
              <img class="card__img" src="../assets/images/product-1.png" alt="product-1" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-2.png" alt="product-2" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-3.png" alt="product-3" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-4.png" alt="product-4" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-5.png" alt="product-5" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-6.png" alt="product-6" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-7.png" alt="product-7" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-8.png" alt="product-8" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-9.png" alt="product-9" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-10.png" alt="product-10" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-11.png" alt="product-11" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-12.png" alt="product-12" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
          </div>

          <%- include('./layout/page-links'); -%>
        </div>
      </section>
    </div>
    <div class="sunglasses">
      <header class="product-header">
        <img
          srcset="../assets/images/product-header-sm-3.png 374w, ../assets/images/product-header-3.png 1920w"
          sizes="(min-width:768px) 1920px , 374px"
          alt="sunglasses-glasses1"
        />
        <img
          srcset="../assets/images/product-header-sm-4.png 374w, ../assets/images/product-header-4.png 1920w"
          sizes="(min-width:768px) 1920px , 374px"
          alt="sunglasses-glasses2"
        />
      </header>
      <main class="product-main">
        <div class="product-main__container">
          <h2>2020 NEW COLLECTION</h2>
          <h3>賽璐珞鈦金屬混合鏡框</h3>
          <div class="product-list">
            <div class="card">
              <img class="card__img" src="../assets/images/product-7.png" alt="product-7" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-8.png" alt="product-8" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-9.png" alt="product-9" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-10.png" alt="product-10" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-11.png" alt="product-11" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
            <div class="card">
              <img class="card__img" src="../assets/images/product-12.png" alt="product-12" />
              <header class="card__header">
                <h4 class="card__title">BJ41600S</h4>
                <span class="card__header-mark">NTD3,490</span>
              </header>
              <footer class="card__footer">
                <span data-color="brown"></span>
                <span data-color="orange"></span>
              </footer>
            </div>
          </div>

          <%- include('./layout/page-links'); -%>
        </div>
      </main>
    </div>
    <%- include('./layout/footer'); -%>
    <script>
      const tab1 = document.getElementById("tab1");
      const tab2 = document.getElementById("tab2");
      const optical = document.querySelector(".optical");
      const sunglasses = document.querySelector(".sunglasses");

      tab1.addEventListener("change", function () {
        if (this.checked) {
          optical.style.display = "block";
          sunglasses.style.display = "none";
        }
      });

      tab2.addEventListener("change", function () {
        if (this.checked) {
          optical.style.display = "none";
          sunglasses.style.display = "block";
        }
      });
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
